.choice{
  z-index: 1;

margin:0 auto;
  padding: 40 0px;
  &:last-child{
    padding-bottom:0;
  }
  &-content{

    margin: 0 ;
    text-align: center;
}
&-boxContent{
  width: 269px;
  background-color: #006A61;
  opacity: 25%;
  height: 51px;
  border: solid #006A61;
  margin: 0 auto;
  margin-top: 10px;

}

}
