.logintitle {
    color: white;
    text-align: center;
    font-family: 'Ailerons';
    font-size: 2rem;
    margin-top: 20px;
    @include for-size(tablet-landscape-up) {
      margin-top: 50px;
    }
  }

.login {
  height: 50vh;
  @include for-size(tablet-landscape-up) {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
  }
  &-item {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
    @include for-size(tablet-landscape-up) {
      width: 50%;
    }
    & input {
      width: 90%;
      text-align: center;
      height: 40px;
      background-color: rgba(107, 106, 106, 0.25);
      border: 1px solid #8B8787;
      color: white;
    }
    & input::placeholder {
      color: white;
      opacity: 0.5;
      font-family: 'Ubuntu', sans-serif;
    }
    & input::value {
      color: white;
      opacity: 0.5;
      font-family: 'Ubuntu', sans-serif;
    }
  }
}

.center {
  margin: 0 auto;
}

.registerLink {
  margin-left: 5%;
  width: 180px;
  height: 40px;
  background-color: rgba(0,106,97,0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #006A61;
  & a {
    color: white;
    font-family: 'Ubuntu', sans-serif;
  }
}