@import "global/variables";
@import "mixins/forsize";
@import "components/_reset.scss";
@import "components/_header.scss";
@import "components/_home.scss";
@import "components/_footer.scss";
@import "components/_register.scss";
@import "components/_login.scss";
@import "components/_reservation.scss";
@import "components/_account.scss";
@import "components/_editAccount.scss";

@font-face {
  font-family: 'Ailerons';
  src: url('../fonts/ailerons-typeface-webfont.woff2') format('woff2'),
  url('../fonts/ailerons-typeface-webfont.woff') format('woff'),
  url('../fonts/ailerons-typeface-webfont.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-Regular.ttf") format('opentype');
}

@font-face {
  font-family: 'Ubuntu Light';
  src: url("../fonts/Ubuntu-Light.ttf") format('opentype');
}

@font-face {
  font-family: 'Ubuntu Medium';
  src: url("../fonts/Ubuntu-Medium.ttf") format('opentype');
}

.body {
  background-image: url("../img/spaceBlack.png");
  background-size: cover;
  background-position: center;
}