/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

.header {
  display: flex;
  align-items: center;
  background-color: rgba(24, 28, 44, 0.6);
  border-top: 2px solid #171E3A;
  border-bottom: 2px solid #171E3A;
  height: 10vh; }

.burger {
  width: 25px;
  right: 20px;
  position: absolute;
  cursor: pointer; }

.nav {
  display: none;
  position: absolute;
  width: 100%;
  background-color: rgba(19, 21, 30, 0.9);
  padding: 7vh 0; }
  .nav-content {
    display: flex;
    flex-direction: column;
    align-content: center; }
  .nav-item {
    text-align: center;
    height: 15vh; }
    .nav-item-link {
      color: white;
      font-family: 'Ailerons';
      font-size: 2rem; }

@font-face {
  font-family: 'Ailerons';
  src: url("../fonts/ailerons-typeface-webfont.woff2") format("woff2"), url("../fonts/ailerons-typeface-webfont.woff") format("woff"), url("../fonts/ailerons-typeface-webfont.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

.body {
  background-image: url("../img/spaceBlack.png");
  background-size: cover;
  background-position: center; }
