/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

.header {
  display: flex;
  align-items: center;
  background-color: rgba(24, 28, 44, 0.6);
  border-top: 2px solid #171E3A;
  border-bottom: 2px solid #171E3A;
  height: 100px; }
  .header-logo {
    height: 80px;
    margin-left: 50px; }

.burger {
  width: 25px;
  right: 20px;
  position: absolute;
  cursor: pointer; }
  @media (min-width: 1200px) {
    .burger {
      display: none; } }

.nav {
  display: none;
  position: absolute;
  width: 100%;
  background-color: rgba(19, 21, 30, 0.9);
  padding: 7vh 0;
  z-index: 100; }
  .nav-content {
    display: flex;
    flex-direction: column;
    align-content: center; }
  .nav-item {
    text-align: center;
    height: 15vh; }
    .nav-item-link {
      color: white;
      font-family: 'Ailerons';
      font-size: 2rem; }

.navHeader {
  display: none;
  position: absolute;
  right: 20px;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;
  width: 80%; }
  @media (min-width: 1200px) {
    .navHeader {
      display: flex; } }
  .navHeader-item {
    text-align: center; }
    .navHeader-item a {
      color: white;
      font-family: 'Ailerons'; }

.smallHeader {
  width: 20%; }

.close {
  display: none; }

.welcome {
  width: 90%;
  margin: 5vh auto 0 auto;
  color: white; }
  @media (min-width: 1200px) {
    .welcome {
      width: 70%; } }
  .welcome-top {
    margin-top: 4vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white; }
    .welcome-top-img {
      margin-top: 2vh;
      height: 400px; }
    .welcome-top-title {
      margin-top: 4vh;
      font-family: 'Ailerons';
      font-size: 2rem;
      letter-spacing: 2px;
      text-align: center; }
    .welcome-top-titleLine {
      width: 30%;
      margin-top: 20px;
      height: 2px;
      background-color: #006A61; }
    .welcome-top-text {
      font-family: 'Ubuntu Light', sans-serif;
      margin-top: 30px;
      text-align: center;
      font-size: 1.1rem;
      margin-bottom: 10vh; }
  .welcome-choice {
    margin-top: 5vh;
    font-family: 'Ailerons';
    font-size: 1.5rem;
    text-align: center; }
  .welcome-answer {
    display: flex;
    justify-content: center;
    margin-top: 5vh; }
    .welcome-answer-link {
      margin: 0 10px;
      width: 180px;
      height: 8vh;
      color: white;
      background-color: rgba(0, 106, 97, 0.25);
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #006A61; }
      @media (min-width: 1200px) {
        .welcome-answer-link {
          margin: 0 50px;
          width: 220px; } }
      .welcome-answer-link-text {
        color: white;
        font-family: 'Ubuntu', sans-serif;
        font-size: 1.1rem; }

.topHorizontalLine {
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 2px;
  background-color: #006A61; }

.topVerticalLine {
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
  height: 50px;
  background-color: #006A61; }

.botHorizontalLine {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 2px;
  background-color: #006A61; }

.botVerticalLine {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 2px;
  height: 50px;
  background-color: #006A61; }

.content {
  width: 90%;
  margin: 0 auto;
  color: white;
  margin-top: 6vh; }
  @media (min-width: 1200px) {
    .content {
      display: flex;
      flex-wrap: wrap;
      width: 80%; } }
  @media (min-width: 600px) {
    .content {
      width: 70%; } }
  .content-top {
    position: relative;
    padding: 5vh 0;
    display: flex;
    justify-content: center; }
    @media (min-width: 1200px) {
      .content-top {
        width: 50%; } }
  @media (min-width: 1200px) {
    .content-bot {
      width: 50%; } }
  .content-bot-title {
    margin-top: 5vh;
    text-align: center;
    font-family: 'Ailerons';
    font-size: 1.5rem; }
  .content-bot-text {
    margin-top: 5vh;
    text-align: center;
    font-family: 'Ubuntu Light', sans-serif;
    line-height: 1.8em; }
  .content-imgContainer {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center; }
  .content-img {
    max-width: 90%;
    max-height: 90%; }
    @media (min-width: 1200px) {
      .content-img {
        max-width: 100%;
        max-height: 100%; } }

.activity {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5%; }
  .activity-item {
    width: 45%;
    margin-top: 5vh; }
    .activity-item-text {
      color: white;
      text-align: center;
      font-family: 'Ubuntu', sans-serif; }
    .activity-item-img {
      width: 100%;
      margin-top: 3vh; }

.desktop {
  display: none; }
  @media (min-width: 1200px) {
    .desktop {
      display: block; } }

@media (min-width: 1200px) {
  .desktopReset {
    display: none; } }

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(24, 28, 44, 0.6);
  border-top: 2px solid #171E3A;
  margin-top: 3vh;
  padding: 20px 0; }
  @media (min-width: 949px) {
    .footer {
      margin-top: 6vh; } }
  .footer-top {
    display: flex;
    justify-content: center; }
    .footer-top-text {
      color: white;
      margin-left: 10px;
      font-family: 'Ubuntu Light', sans-serif; }
  .footer-mid {
    display: flex;
    justify-content: center;
    margin-top: 20px; }
    .footer-mid-text {
      color: white;
      margin: 0 5px;
      font-family: 'Ubuntu Light', sans-serif; }
      @media (min-width: 1200px) {
        .footer-mid-text {
          margin: 0 20px; } }
  .footer-bot {
    display: flex;
    justify-content: center;
    margin-top: 20px; }
    .footer-bot-text {
      color: white;
      font-family: 'Ubuntu Light', sans-serif; }

.form-container {
  width: 90%;
  margin: 5vh auto 0 auto;
  color: white; }
  @media (min-width: 1200px) {
    .form-container {
      width: 70%; } }
  @media (min-width: 949px) {
    .form-container {
      margin: 10vh auto 0 auto; } }
  .form-container-title {
    text-align: center;
    font-family: 'Ailerons';
    font-size: 2rem;
    width: 100%;
    margin-top: 20px; }
    @media (min-width: 949px) {
      .form-container-title {
        margin-top: 50px; } }
  @media (min-width: 949px) {
    .form-container-content {
      display: flex;
      flex-wrap: wrap;
      margin-top: 40px; } }
  .form-container-content-item {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0; }
    @media (min-width: 949px) {
      .form-container-content-item {
        width: 50%; } }
    .form-container-content-item input {
      width: 90%;
      text-align: center;
      height: 40px;
      background-color: rgba(107, 106, 106, 0.25);
      border: 1px solid #8B8787;
      color: white; }
    .form-container-content-item input::placeholder {
      color: white;
      opacity: 0.5;
      font-family: 'Ubuntu', sans-serif; }
    .form-container-content-item input::value {
      color: white;
      opacity: 0.5;
      font-family: 'Ubuntu', sans-serif; }
    .form-container-content-item #message {
      font-family: 'Ubuntu', sans-serif;
      margin-top: 10px; }

.send {
  margin: 20px auto; }

#messageDiv {
  text-align: center;
  width: 100%; }

.logintitle {
  color: white;
  text-align: center;
  font-family: 'Ailerons';
  font-size: 2rem;
  margin-top: 20px; }
  @media (min-width: 949px) {
    .logintitle {
      margin-top: 50px; } }

.login {
  height: 50vh; }
  @media (min-width: 949px) {
    .login {
      display: flex;
      flex-wrap: wrap;
      margin-top: 40px; } }
  .login-item {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px auto; }
    @media (min-width: 600px) {
      .login-item {
        width: 70%; } }
    @media (min-width: 949px) {
      .login-item {
        width: 50%; } }
    @media (min-width: 1200px) {
      .login-item {
        width: 40%; } }
    .login-item input {
      width: 90%;
      text-align: center;
      height: 40px;
      background-color: rgba(107, 106, 106, 0.25);
      border: 1px solid #8B8787;
      color: white; }
    .login-item input::placeholder {
      color: white;
      opacity: 0.5;
      font-family: 'Ubuntu', sans-serif; }
    .login-item input::value {
      color: white;
      opacity: 0.5;
      font-family: 'Ubuntu', sans-serif; }

.center {
  margin: 0 auto; }

.registerLink {
  margin-left: 5%;
  width: 180px;
  height: 40px;
  background-color: rgba(0, 106, 97, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #006A61; }
  .registerLink a {
    color: white;
    font-family: 'Ubuntu', sans-serif; }

.book {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin: 0 auto; }
  @media (min-width: 1200px) {
    .book {
      padding-bottom: 100px; } }
  @media (min-width: 949px) {
    .book {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: baseline; } }
  .book-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
    margin: 10px 0; }
    @media (min-width: 949px) {
      .book-item {
        width: 33%;
        justify-content: flex-start; } }
    .book-item select {
      width: 80%;
      margin: 0 auto;
      text-align: center;
      height: 30px;
      background-color: rgba(107, 106, 106, 0.25);
      border: 1px solid #8B8787;
      color: white; }
    .book-item input {
      width: 80%;
      margin: 0 auto;
      text-align: center;
      height: 30px;
      background-color: rgba(107, 106, 106, 0.25);
      border: 1px solid #8B8787;
      color: white; }
    .book-item-title {
      font-family: 'Ailerons';
      margin: 10px 0;
      font-size: 1.2rem;
      text-align: center; }
    .book-item-libel {
      font-family: 'Ubuntu Medium', sans-serif;
      margin: 10px 0; }
    .book-item-number {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      width: 50px;
      margin: 0 auto;
      font-family: 'Ubuntu Medium', sans-serif;
      background-color: rgba(13, 95, 84, 0.25);
      border: 1px solid #0D5F54; }

.submit {
  width: 100%; }
  @media (min-width: 949px) {
    .submit input {
      width: 27%; } }

.bookTitle {
  text-align: center;
  color: white;
  font-size: 2rem;
  font-family: 'Ailerons';
  margin: 70px 0;
  width: 100%; }

.resetPadding {
  padding-bottom: 50px; }
  @media (min-width: 1200px) {
    .resetPadding {
      padding-bottom: 50px; } }

.accountTitle {
  text-align: center;
  color: white;
  font-family: 'Ailerons';
  font-size: 2rem;
  margin: 40px 0; }

.account {
  color: white;
  font-family: 'Ubuntu Light', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 75px; }
  @media (min-width: 949px) {
    .account {
      padding-bottom: 50px; } }
  .account-text {
    margin: 20px 0; }
  .account-box {
    display: flex;
    justify-content: center; }
    .account-box-btn {
      margin: 20px 10px;
      background-color: rgba(0, 106, 97, 0.25);
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #006A61;
      width: 180px;
      height: 40px; }
      .account-box-btn a {
        color: white; }

.editAccount {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Ubuntu Light', sans-serif;
  text-align: left; }
  .editAccount-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 10px 0;
    font-size: 1.1rem;
    height: 30px; }
    @media (min-width: 600px) {
      .editAccount-content {
        width: 60%; } }
    @media (min-width: 949px) {
      .editAccount-content {
        width: 50%; } }
    .editAccount-content label {
      width: 60%; }
    .editAccount-content input {
      width: 40%;
      text-align: center;
      background-color: rgba(107, 106, 106, 0.25);
      border: 1px solid #8B8787;
      color: white;
      font-size: 0.8rem; }
      @media (min-width: 949px) {
        .editAccount-content input {
          height: 30px; } }
  .editAccount-submit {
    margin: 20px 0; }
    .editAccount-submit input {
      border: 1px solid #006A61;
      background-color: rgba(0, 106, 97, 0.25);
      color: white;
      font-family: 'Ubuntu Light', sans-serif;
      height: 30px; }
      @media (min-width: 949px) {
        .editAccount-submit input {
          height: 40px; } }

.editAccountTitle {
  text-align: center;
  color: white;
  font-family: 'Ailerons';
  font-size: 2rem;
  margin: 45px 0; }
  @media (min-width: 949px) {
    .editAccountTitle {
      margin: 35px 0; } }

.delete {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 100px auto 0 auto;
  color: white;
  height: 50vh;
  font-family: 'Ubuntu Light', sans-serif;
  padding-bottom: 50px; }
  .delete p {
    margin-top: 50px;
    font-size: 1.5rem;
    text-align: center; }
  .delete input {
    border: 1px solid #006A61;
    background-color: rgba(0, 106, 97, 0.25);
    color: white;
    font-family: 'Ubuntu Light', sans-serif;
    height: 40px;
    width: 320px;
    margin-top: 50px; }
  .delete-back {
    text-align: center;
    color: white;
    background-color: rgba(107, 106, 106, 0.25);
    border: 1px solid #8B8787;
    padding: 10px;
    width: 300px;
    margin-top: 50px; }
  .delete-icon {
    background-color: rgba(208, 2, 27, 0.25);
    border: 1px solid #D0021B;
    width: 30px;
    height: 30px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center; }

.resa {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto; }
  @media (min-width: 949px) {
    .resa {
      width: 80%; } }
  @media (min-width: 1200px) {
    .resa {
      padding: 10vh 0; } }
  .resa-title {
    text-align: center;
    font-family: 'Ailerons';
    color: white;
    width: 100%;
    font-size: 2rem;
    margin: 20px 0; }
  .resa-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 80%;
    margin: 10px auto;
    justify-content: space-around;
    font-family: 'Ubuntu Light',sans-serif;
    text-align: center;
    line-height: 1.5em;
    border: 1px solid #006A61;
    padding: 10px 0; }
    @media (min-width: 600px) {
      .resa-item {
        width: 50%; } }
    @media (min-width: 1200px) {
      .resa-item {
        width: 80%;
        flex-direction: row;
        flex-wrap: wrap; } }

.rentSubTitle {
  text-align: center;
  color: white;
  font-size: 2rem;
  font-family: 'Ailerons';
  margin: 40px 0; }

.headerAdmin {
  color: white;
  font-family: 'Ubuntu Medium', sans-serif; }
  .headerAdmin h2 {
    margin: 20px 0;
    text-align: center;
    font-family: 'Ailerons';
    font-size: 2.3rem; }
  .headerAdmin-nav {
    display: flex;
    align-items: center;
    flex-direction: column; }
    @media (min-width: 949px) {
      .headerAdmin-nav {
        flex-direction: row;
        justify-content: space-between;
        width: 60%;
        margin: 0 auto; } }
    .headerAdmin-nav a {
      color: white;
      margin: 10px 0;
      font-size: 1.5rem; }

.adminRes {
  padding: 20px;
  color: white;
  font-family: 'Ubuntu Light', sans-serif;
  display: flex;
  flex-direction: column; }
  .adminRes a {
    color: white;
    margin: 10px 0;
    font-size: 1.2rem;
    text-decoration: underline; }
  .adminRes h2 {
    margin: 20px 0; }

table {
  color: white;
  font-family: 'Ubuntu Light', sans-serif;
  text-align: center;
  min-width: 900px; }
  table tr {
    height: 40px; }
    table tr a {
      color: white; }

.adminAdd input::placeholder {
  color: white; }

@font-face {
  font-family: 'Ailerons';
  src: url("../fonts/ailerons-typeface-webfont.woff2") format("woff2"), url("../fonts/ailerons-typeface-webfont.woff") format("woff"), url("../fonts/ailerons-typeface-webfont.ttf") format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-Regular.ttf") format("opentype"); }

@font-face {
  font-family: 'Ubuntu Light';
  src: url("../fonts/Ubuntu-Light.ttf") format("opentype"); }

@font-face {
  font-family: 'Ubuntu Medium';
  src: url("../fonts/Ubuntu-Medium.ttf") format("opentype"); }

.body {
  background-image: url("../img/spaceBlack.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh; }
